
#services {
	float: left;
	width: 100%;
}

#services_title {
	float:left;
	padding: 1% 5% 2% 5%;
	width: 90%;
	background-color: #414243;
}

#services_holder {
	background-color: #1e1e1e;
	float: left;
	width: 100%;
	padding: 3rem 0;
}

.service {
	width:320rem;
	float:left;
	overflow: hidden;
}

@media (min-width: 900px) { 
	.service {
		width:320rem;
		float:left;
		overflow: hidden;
	}
}

.service_holder {
	position:relative;
	padding: 2rem 0;
}

@media (min-width: 900px) { 
	.service_holder {
		position:relative;
		padding: 2rem 0;
	}
}

.service_initial {
	float:left;
	width:160rem;
	padding: 2rem 0;
}

@media (min-width: 900px) { 
	.service_initial {
		float:left;
		width:160rem;
		padding: 2rem 0;
	}
}


.services_circle {
	width:13rem;
	height:13rem;
	font-size: 7rem;
	line-height: 7rem;
	display: inline-block;
	vertical-align: middle;
	margin: 2rem 3rem 2rem 5rem;	
}

@media (min-width: 900px) { 
	.services_circle {
		width:15rem;
		height:15rem;
		font-size: 7rem;
		line-height: 7rem;
		display: inline-block;
		vertical-align: middle;
		margin: 2rem 7rem 2rem 9rem;	
	}

}

.service_info {
	display: inline-block;
	vertical-align: middle;
	width:52rem;
}

@media (min-width: 900px) { 
	.service_info {
		display: inline-block;
		vertical-align: middle;
		width:105rem;
	}

}

.service_btn {
	display: inline-block;
	vertical-align: middle;
	font-size: 9rem;
	line-height: 9rem;
	color:#0079bd;
	cursor: pointer;
	margin-left: 3rem;	
	margin-right: 5rem;	
}

@media (min-width: 900px) { 
	.service_btn {
		display: inline-block;
		vertical-align: middle;
		font-size: 9rem;
		line-height: 9rem;
		color:#0079bd;
		cursor: pointer;
		margin-left: 5rem;	
		margin-right: 7rem;	
	}
}


.service_title {
	color:#fff;
	font-size: 3.6rem;
	line-height: 5rem;
}

@media (min-width: 900px) { 
	.service_title {
		color:#fff;
		font-size: 3.6rem;
		line-height: 5rem;
	}
}


.service_desc {
	color:#a09f9f;
	font-size: 2.1rem;
	line-height: 3rem;
	font-family: Arial, san-serif;
}

@media (min-width: 900px) { 
	.service_desc {
		color:#a09f9f;
		font-size: 2.1rem;
		line-height: 3rem;
		font-family: Arial, san-serif;
	}
}

.service_expand_holder {
	position: relative;
}

.service_expand {
	float:left;
	background-color: #0079bd;
	width:160rem;
	padding: 2rem 0;
}

@media (min-width: 900px) { 
	.service_expand {
		float:left;
		background-color: #0079bd;
		width:160rem;
		padding: 2rem 0;
	}
}

.service_expand_holder {

}
.expand {
	color:#000;
}
