html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: 'montserratultra_light', sans-serif;
	color: #000;
	font-size: 10px;
	word-spacing: normal;
	letter-spacing: normal;
	background-color: #000;
}

body {
	position: relative;
}

img {
	border: 0;
	width: 100%;
	height: auto;
}

@media ( min-width: 700px) {

	::-webkit-scrollbar {
		width: 7px;
	}
	::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: #ccc;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: #333;
	}

}

p {
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}


.gray_txt {
	font-family: 'montserratultra_light', sans-serif;
	color: #afafaf;
	font-size: 1.2rem;	
}



.screen-reader-text { /* Reusable, toolbox kind of class */
  	position: absolute;
  	top: -9999px;
  	left: -9999px;
}


#site_holder {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
}



#site_container {
	background-color: #171717;
	float: left;
	width: 100%;
}

#site_content {
	float: left;
	width: 100%;
	min-height: 150rem;
	
}

@media (min-width: 900px) { 
	#site_content {
		float: left;
		width: 100%;
		min-height: 100rem;
	}
}

.desktop {
	display: none;
}

.mobile {
	display: block;
}

@media (min-width: 900px) { 
	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

}

.divider {
	clear:left;
	width:100%;
	height:5rem;
}
.step {
	display: none;
	float: left;
	width: 100%
}

#ie8_message {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3000;
}

#ie8_message_holder {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #00839c;
	text-align: center;
	font-size: 18px;
	color: #FFF;
}

#ie8_img {
	width: 0%;
	margin: 10% auto 0% auto;
}

#submit_code_holder {
	background-color: #171717;
}
@media (min-width: 900px) { 
	#submit_code_holder {
		width: 100%;
		background-image: url(../images/triangle_background.png);
		background-size: 70% auto;
		background-repeat: no-repeat;
		background-position: center top;
	}
}
#home_play {
	width: 100%;
	overflow: hidden;
}


.rb_header {
	width: 100%;
	overflow: hidden;
}
.rb_header img {
	position: relative;
	width: 200%;
	left: -50%;
}

@media (min-width: 900px) { 
	.rb_header img {
		position: relative;
		width: 100%;
		left: 0%;
	}
}

.rb_logo {
	width: 100%;
	background-image: url(../images/orange.jpg);
	background-size: 100% 35%;
	background-repeat: no-repeat;
	cursor: pointer;
}

@media (min-width: 900px) { 
	.rb_logo {
		width: 100%;
		background-image: url(../images/orange.jpg);
		background-size: 100% 50%;
		background-repeat: no-repeat;
	}
}

.top_holder {
	float: left;
	width: 100%;
	background-image: url(../images/triangle_background.png);
	background-size: 70% auto;
	background-repeat: no-repeat;
	background-position: center top;
}

.rb_logo_img {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.submit_sub {
	color:#fff;
	font-size: 3.2rem;
	line-height: 4rem;
	text-align: center;
	border-top: .4rem solid #414040;
	border-bottom: .4rem solid #414040;
	margin: 3rem auto .5rem auto;
	padding: 3rem 0;
	width:90%;
	font-family: 'montserratregular';
}

@media (min-width: 900px) { 
	.submit_sub {
		color:#fff;
		font-size: 3.2rem;
		line-height: 4rem;
		text-align: center;
		border-top: .4rem solid #414040;
		border-bottom: .4rem solid #414040;
		margin: 3rem auto .5rem auto;
		padding: 2rem;
		width:80%;
	}
}
#submit_code {
	width:90%;
	margin: 2rem auto;
	text-align: center;
}

.submit_code_l {
	display: inline-block;
	padding: 1rem 0 2rem 0;
	margin: 0 0 0rem 0;
	width: 99%;	
	border-right: 0;
}

.submit_code_r {
	display:inline-block;
	padding: 1rem 3rem;
	margin: 0 auto 5rem auto;
	width: 70%;	
}

.submit_code_title {
	color:#ffffff;
	font-family: 'montserratregular', sans-serif;
	font-size: 2.5rem;
	line-height: 4rem;
	text-align: center;
	margin: 2rem auto;	
}

.submit_input {
	display:inline-block;
	width: 50%;	
	vertical-align: middle;
}
@media (min-width: 900px) { 

	.submit_code_l {
		display: inline-block;
		padding: 1rem 5% 1rem 2.5%;
		margin: 0 0 10rem 0;
		width: 55%;	
		border-right: .25rem solid #414040;
		vertical-align: top;
	}

	.submit_code_r {
		display:inline-block;
		padding:1rem 5%;
		width: 35%;	
		margin: 0 0 10rem 0;
		vertical-align: top;
	}
	}

	.submit_code_title {
		color:#ffffff;
		font-family: 'montserratlight', sans-serif;
		font-size: 2.7rem;
		line-height: 4rem;
		text-align: center;
		margin: 2rem auto;	
	}

	.submit_input {
		display:inline-block;
		width: 55%;	
	}
}

.double_line {
	border-top: .1rem solid #414040;
	width:90%;
	margin: 0 auto;
	text-align: center;
}
@media (min-width: 900px) { 
	.double_line {
		border-top: .1rem solid #414040;
		width:80%;
		margin: 0 auto;
		text-align: center;
	}
}

.orange_sub {
	color:#f76300;
	font-family: 'montserratregular', sans-serif;
	font-size: 3.2rem;
	line-height: 4rem;
	text-align: center;
	margin: 0 auto;	
}

.sub_margin {
	margin: 2rem auto;		
}

.sub_desc {
	font-size: 2.5rem;
	line-height: 3.4rem;
	text-align: center;
	color: #afafaf;
	font-family: "montserratlight";
	margin: 0;
}
@media (min-width: 900px) { 
	.sub_desc {
		font-size: 1.9rem;
		line-height: 2.6rem;
		text-align: center;
		color: #afafaf;
		font-family: "montserratlight";
		margin: 0;
	}

}

.white_sub {
	color:#fff;
	font-family: 'montserratlight', sans-serif;
	font-size: 3.5rem;
	line-height: 4rem;
	margin: 1rem auto;	
}
@media (min-width: 900px) { 
	.white_sub {
		color:#fff;
		font-family: 'montserratlight', sans-serif;
		font-size: 2.7rem;
		line-height: 2.9rem;
		margin: 1rem auto;	
	}
}
.centered {
	text-align: center !important;
}



input {
	width: 100%;
	background-color: #2a2a2a;
	border:0;
	color: #a6a6a6;
	padding: 5%;
	font-size: 3rem;
	border: .4rem solid #2a2a2a;
}

@media (min-width: 900px) { 

	input {
		width: 100%;
		background-color: #2a2a2a;
		border:1px solid #2a2a2a;
		color: #a6a6a6;
		padding: 6%;
		font-size: 1.8rem;
		outline-color: #f76300;
		-webkit-appearance:none; 
		-webkit-border-radius:0;
		border-radius: 0;

	}
}

.orange_btn {
	font-size: 2.8rem;
	padding: 2rem;
	border: .4rem solid #f76300;
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor:pointer;
}

#submit_code_btn {
	display:inline-block;	
	vertical-align: middle;
	width:40%;
}
@media (min-width: 900px) { 
	#submit_code_btn {
		display:inline-block;	
		width:43%;
	}
}
#need_code_btn {
	display:inline-block;	
	width:100%;
}

#need_code_btn {
	margin: 0 auto;
}

#two_ways_to_play {
	background-image: url(../images/circle_gradient.jpg);
	background-size: 100% 100%;
	width: 100%;
	float: left;
	padding: 1%;
}

@media (min-width: 900px) { 
	#two_ways_to_play {
		background-image: url(../images/circle_gradient.jpg);
		background-size: 100% 100%;
		width: 100%;
		padding: 3rem 0 5rem 0;
	}
}

.section_title {
	float:left;
	width: 100%;
	color:#ffffff;
	font-family: 'montserratregular', sans-serif;
	font-size: 5rem;
	line-height: 12rem;
	text-align: center;
}
@media (min-width: 900px) { 
	.section_title {
		float:left;
		width: 100%;
		color:#ffffff;
		font-family: 'montserratregular', sans-serif;
		font-size: 4rem;
		line-height: 7rem;
		text-align: center;
	}
}

.divide_rule {
	float:left;
	background-color:#46484b;
	width: 90%;
	height:.7rem;
	margin: 1rem 5%;
}

@media (min-width: 900px) { 
	.divide_rule {
		background-color:#46484b;
		width: 60%;
		height:.5rem;
		margin: 1rem  20%;

	}
}

.divide_rule_vert {
	display:none;
}
@media (min-width: 900px) { 
	.divide_rule_vert {
		background-color:#46484b;
		width: .167%;
		height: 40rem;
		margin: 6rem 0;
		float:left;
		display:block;
		vertical-align: top;
	}
}

.two_ways_content {
	margin: 0 auto;
	width: 85%;
	text-align: center;
}
@media (min-width: 900px) { 
	
}

.two_way_holder {
	width: 98%;
	display:inline-block;
	vertical-align: top;
	margin: 4rem 1%;
}
@media (min-width: 900px) { 
	.two_way_holder {
		width: 39.5%;
		float:left;
		margin: 2rem 5%;
	}
}

.two_way_title {
	color:#f76300;
	font-family: 'montserratlight', sans-serif;
	font-weight: 400;
	font-size: 4rem;
	line-height: 4rem;
	text-align: center;
}
@media (min-width: 900px) { 
	.two_way_title {
		color:#f76300;
		font-family: 'montserratlight', sans-serif;
		font-size: 4rem;
		line-height: 4.5rem;
		text-align: center;
	}
}

.gray_desc {
	color:#afafaf;
	font-family: 'montserratlight', sans-serif;
	font-size: 3.5rem;
	line-height: 5rem;
	text-align: center;
	width: 90%;
	margin: 0 auto 3rem auto;
}

@media (min-width: 900px) { 
	.gray_desc {
		color:#afafaf;
		font-family: 'montserratlight', sans-serif;
		font-size: 1.5rem;
		line-height: 2rem;
		text-align: center;
		width: 95%;
		margin: 0 auto 2.5rem auto;
	}
}

.gray_sub {
	color:#afafaf;
	font-family: 'montserratlight', sans-serif;
	font-size: 3.5rem;
	line-height: 5rem;
	text-align: center;
	width: 90%;
	margin: 0 auto 3rem auto;
}

@media (min-width: 900px) { 
	.gray_sub {
		color:#afafaf;
		font-family: 'montserratlight', sans-serif;
		font-size: 2.1rem;
		line-height: 3rem;
		text-align: center;
		width: 70%;
		margin: 0 auto 2.5rem auto;
	}
}

#location_btn, #goto_twitter_btn {
	width:50%;
	margin: 0 auto;
}
@media (min-width: 900px) { 
	#location_btn, #goto_twitter_btn {
		width:60%;
		margin: 0 auto;
	}
}

.white_txt {
	color:#fff;
}
.orange_txt {
	color:#f76300;
}

#what_can {
	float:left;
	background-color: #1b1c1e;
	background-size: 100% 100%;
	width: 100%;
	padding: 3.5rem 0 0 0;
}
@media (min-width: 900px) { 
	#what_can {
		float:left;
		background-color: #1b1c1e;
		background-size: 100% 100%;
		width: 100%;
		padding: 3.5rem 0 0 0;
	}
}

#prizes {
	width: 100%;
}

#prizes_holder {
	position: relative;
	width: 100%;
	overflow: hidden;
}
@media (min-width: 900px) { 
	#prizes_holder {
		position: relative;
		width: 100%;
		overflow: hidden;
	}
}

#prizes_info {
	width: 100%;
	padding: 0 5%;
	overflow: hidden;
}
@media (min-width: 900px) { 
	#prizes_info {
		width: 100%;
		padding:0 5%;
		overflow: hidden;
	}
}


.arrow_btn {
	position: absolute;
	width: 5rem;
	height: 9.5rem;
	cursor: pointer;

}
@media (min-width: 900px) { 
	.arrow_btn {
		position: absolute;
		width: 3.7rem;
		height: 7rem;
		cursor: pointer;
	}
}

.arrow_btn_holder {
	position: relative;
	width: 100%;
	height: 100%;

}

.arrow_btn_rest,.arrow_btn_roll {
	position: absolute;
	width: 100%;
	height: 100%;

}

#prize_arrow_l {
	top:20%;
	left:3rem;
}

@media (min-width: 900px) { 
	#prize_arrow_l {
		top:40%;
		left:6rem;
	}
}

#prize_arrow_r {
	top:20%;
	right:3rem;
}

@media (min-width: 900px) { 
	#prize_arrow_r {
		top:40%;
		right:6rem;
	}
}

.prize_num {
	display: inline-block;
	width: 10rem;
	height: 10rem;
	text-align: center;
	background-image: url(../images/number_circle.png);
	background-size: 100% 100%;
	font-family: 'montserratbold', sans-serif;
	font-weight: 800;
	font-size: 4rem;
	line-height: 10rem;
	margin-top: 2%;
	margin-right: 2%;
	vertical-align: top;
}
@media (min-width: 900px) { 
	.prize_num {
		display: inline-block;
		width: 8rem;
		height: 8rem;
		text-align: center;
		background-image: url(../images/number_circle.png);
		background-size: 100% 100%;
		font-family: 'montserratbold', sans-serif;
		font-weight: 800;
		font-size: 3rem;
		line-height: 8rem;
		margin-right: 2%;
		vertical-align: top;
	}
}

.prize_pre {
	font-size: 5.5rem;
	line-height: 6rem;
	color: #f76301;
	text-transform: uppercase;
	font-family: 'montserratregular', sans-serif;
}
@media (min-width: 900px) { 
	.prize_pre {
		font-size: 4.4rem;
		line-height: 4.5rem;
		color: #f76301;
		text-transform: uppercase;
		font-family: 'montserratregular', sans-serif;
	}
}
#rules_btn {
	float:left;
	width:100%;
	margin:1% 0;
}
.prize_title {
	font-size: 5.5rem;
	line-height: 6rem;
	color: #fff;
	text-transform: uppercase;
	font-family: 'montserratregular', sans-serif;
}
@media (min-width: 900px) { 
	.prize_title {
		font-size: 4.4rem;
		line-height: 4.5rem;
		color: #fff;
		text-transform: uppercase;
		font-family: 'montserratregular', sans-serif;
	}
}

.prize_sub {
	font-size: 3.5rem;
	line-height: 8rem;
	color: #ff8a00;
	font-family: 'montserratregular', sans-serif;
}
@media (min-width: 900px) { 
	.prize_sub {
		font-size: 2.6rem;
		line-height: 6rem;
		color: #ff8a00;
		font-family: 'montserratregular', sans-serif;
	}
}

.prize_desc {
	font-size: 3rem;
	line-height: 4rem;
	color: #afafaf;
	margin-top: 3.5rem;
}
@media (min-width: 900px) { 
	.prize_desc {
		font-size: 1.9rem;
		line-height: 2.6rem;
		color: #afafaf;
		margin-top: 1.5rem;
	}
}

.prize_img {
	display: inline-block;
	width:100%;
}
@media (min-width: 900px) { 

	.prize_img {
		display: inline-block;
		width:50%;
		margin: 2% 0 2% 5%;
		vertical-align: middle;
	}
}

.prize {
	display: inline-block;
	width:80%;
	margin:0 10%;
}
@media (min-width: 900px) { 
	.prize {
		display: inline-block;
		width:35%;
		margin:0;
		vertical-align: middle;
		text-align: left;
	}
}

.prize_holder {
	position: absolute;
	left:100%;
}
@media (min-width: 900px) { 

	.prize_holder {
		position: absolute;
		left:100%;
	}
}

#indicator_nav {
	display: table;	
	text-align: center;
	width:100%;
}

#indicator_circles {
	color: #4e4e4e;
	font-size: 3rem;
	margin: 1rem;
}

@media (min-width: 900px) { 

	#indicator_circles {
		color: #4e4e4e;
		font-size: 1.25rem;
		margin: .15rem;
	}
}


#indicator_numbers {
	width:100%;
	color:#FFF;
	font-size: 2rem;
}

@media (min-width: 900px) { 

	#indicator_numbers {
		width:100%;
		color:#FFF;
		font-size: 1rem;
	}
}
#indicator_current {
	display: inline-block;
	color:#f76300;
	font-size:3.5rem;
}

@media (min-width: 900px) { 

	#indicator_current {
		display: inline-block;
		color:#f76300;
		font-size:2rem;
	}
}



.indicator {
	padding:.5rem;
}

.bottom_angle{
	float:left;
	width: 100%;
}

#social_aggregator {
	float: left;
	width: 100%;
	padding-bottom: 4rem;
	background-color: #252628;
}
@media (min-width: 900px) { 
	#social_aggregator {
		float: left;
		width: 100%;
		padding-bottom: 5rem;
		background-color: #252628;
	}
}

#show_us {
	float: left;
	width: 100%;
	background-color: #1b1c1e;	
	padding: 4rem 0;
}
@media (min-width: 900px) { 
	#show_us {
		float: left;
		width: 100%;
		background-color: #1b1c1e;	
		padding: 5rem 0;
	}
}




#social {
	float: left;
	width: 100%;
	display: table;	
	margin: 0 auto;
	text-align: center;
}
@media (min-width: 900px) { 
	#social {
		float: left;
		width: 100%;
		display: table;	
		margin: 0 auto;
		text-align: center;
	}
}

.social_btn {
	display: inline-block;	
	font-size: 4rem;
	margin: 0 3.5rem;
	color: #f76300;
	overflow: hidden;
	cursor: pointer;
}

@media (min-width: 900px) { 

	.social_btn {
		display: inline-block;	
		font-size: 3rem;
		margin: 0 2.5rem;
		color: #f76300;
		overflow: hidden;
		cursor: pointer;
	}

}

.twitter_icon {
	display: block;
	width:30%;
	margin: 2% auto;
	vertical-align: middle;
}

@media (min-width: 900px) { 
	.twitter_icon {
		display: inline-block;
		width:9%;
		margin: 2% 2% 2% 10%;
		vertical-align: middle;
	}
}

.border_top {
	border-top: 1rem solid #f76300;
}
.dotted_border {
	border-right: .35rem dotted #6d6d6d;
	border-bottom: .35rem dotted #6d6d6d;
	border-left: .35rem dotted #6d6d6d;
}
.txt_info {
	display: block;
	margin: 3% 0% 3% 0%;
	text-align: center !important;
}

@media (min-width: 900px) { 
	.txt_info {
		display: inline-block;
		vertical-align: top;
		margin: 3% 0% 3% 0%;
		text-align: left !important;
	}
}

.comeback_title {
	color:#f76300;
	font-family: 'montserratregular', sans-serif;
	font-size: 4.5rem;
	line-height: 5rem;
	text-align: center;
	margin: 3rem auto;	
	padding: 0 5rem;
}

@media (min-width: 900px) { 
	.comeback_title {
		color:#f76300;
		font-family: 'montserratregular', sans-serif;
		font-size: 4.7rem;
		line-height: 5rem;
		text-align: center;
		margin: 5rem auto;	
	}
}

.confirmation_info {
	width:90%;
	padding:2%;	
	background-color: #FFF;
	font-family: 'montserratsemi_bold', sans-serif;
	font-size: 3.5rem;
	line-height: 4.5rem;
	margin: 0 auto 4% auto;
	text-align: center;
}

@media (min-width: 900px) { 
	.confirmation_info {
		width:50%;
		padding:2%;	
		background-color: #FFF;
		font-family: 'montserratsemi_bold', sans-serif;
		font-size: 2.4rem;
		line-height: 3rem;
		margin: 0 auto 4% auto;
		text-align: center;
	}
}
.confirmation_info_txt {
	display:inline-block;
	text-align: left;
	margin: 0 auto;
}

.confirm_txt {
	display: inline-block;
	color:#000;
	font-family: 'montserratlight', sans-serif;
	text-align: center;
}

@media (min-width: 900px) { 

	

	.rb_logo_img {
		width: 50%;
		height: auto;
		margin: 0 auto;
	}

	

	#submit_code {
		border-top: .1rem solid #414040;
		width:80%;
		margin: 0 auto;
	}
	.submit_code_orange {
		color:#f76300;
		font-family: 'montserratregular', sans-serif;
		font-size: 2.5rem;
		line-height: 4rem;
		text-align: center;
		margin: 2rem auto;	
	}

	.orange_btn {
		font-size: 1.8rem;
		padding: 1.5rem;
		border: .4rem solid #f76300;
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		cursor:pointer;
	}

	
	#need_code_btn {
		display:inline-block;	
		width:100%;
	}

	#need_code_btn {
		margin: 0 auto;
	}

	.white_txt {
		color:#fff;
	}
	.orange_txt {
		color:#f76300;
	}

	#prizes {
		width: 100%;
	}
	.bottom_angle{

		width: 100%;
	}


}


.step_content {
	width: 90%;
	margin: 4rem auto;
}

.step_content_m {
	width: 90%;
	margin: 3rem auto;
}

.step_content_s {
	width: 55%;
	margin: 3rem auto;
}

.step_content_single {
	width: 65%;
	margin: 1rem auto;	
}

.step_content_single_btn {
	width: 65%;
	margin: 5rem auto;	
}

@media (min-width: 900px) { 

	.step_content {
		width: 70%;
		margin: 3rem auto;
	}

	.step_content_m {
		width: 55%;
		margin: 3rem auto;
	}

	.step_content_s {
		width: 30%;
		margin: 3rem auto;
	}

	.step_content_single {
		width: 20%;
		margin: 1rem auto;	
	}
	.step_content_single_btn {
		width: 20%;
		margin: 5rem auto;	
	}

	
}

.step_content_input {
	width: 90%;
	margin: 1rem auto;	
}

@media (min-width: 900px) { 
	.step_content_input {
		width: 30%;
		margin: 1rem auto;	
	}
}
.step_spacer {
	width:100%;
	height:1rem;
}

.select_holder {
	display: table;
	margin: 0 auto;
	color:#fff;
	font-size: 3rem;
	line-height: 4rem;
	width:100%;
}

@media (min-width: 900px) { 
	.select_holder {
		width:auto;
	}
}

label {
	display: inline-block;
	vertical-align: middle;
	color:#FFF;
	width:98%;
	margin: 3% 1%;
}

@media (min-width: 900px) { 
	label {
		display: inline-block;
		vertical-align: middle;
		color:#FFF;
		width:auto;
		margin:0 1rem 0 0;
	}
}

.select_dropdown {
	display: inline-block;
	color:#fff;
	height:10rem;
	overflow: hidden;
   	background: url(../images/dropdown_arrow.jpg) no-repeat right center #fff;
   	background-size: auto 100%;
   	border:1px solid #FFF;
   	line-height: 4rem;
   	padding: 0rem 3rem;
   	margin: .5rem;
   	vertical-align: middle;
   	width:98%;
}

.select_dropdown:hover {

   	background: url(../images/dropdown_arrow_hover.jpg) no-repeat right center #fff;
   	background-size: auto 100%;

}

.select_dropdown select {
	color:#171717;
	background-color: transparent;
	border: 0;
   	border-radius: 0;
   	height:10rem;
   	outline: none;
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
   	cursor: pointer;
}

#country_select, #twitter_country_select{
   	width:99%;
}

#country_select select{
   	width:100%;
}

#month_select{
   	width:99%;
}

#month_select select{
   	width:100%;
}

#year_select, #twitter_year_select{
   	width:99%;
}

#year_select select, #twitter_year_select select{
   	width:100%;
}

@media (min-width: 900px) { 

	.select_dropdown {
		height:6rem;
	   	line-height: 4rem;
	   	padding: 1rem;
	   	margin: 1rem;
	   	width:auto;
	}

	.select_dropdown select {
	   	height:4rem;
	   	outline: none;
	   	-webkit-appearance: none;
	}


	#country_select, #twitter_country_select{
	   	width:44rem;
	}

	#country_select select, #twitter_country_select select{
	   	width:46rem;
	}

	#month_select, #twitter_month_select{
	   	width:20rem;
	}

	#month_select select, #twitter_month_select{
	   	width:22rem;
	}

	#year_select, #twitter_year_select{
	   	width:20rem;
	}

	#year_select select, #twitter_year_select select{
	   	width:22rem;
	}
}


.reg_input {
	display: inline-block;
	width:98%;
	margin:1%;
	color:#f76300;
	font-size: 2.5rem;
}
@media (min-width: 900px) { 
	.reg_input {
		display: inline-block;
		width:47%;
		margin:1%;
		color:#f76300;
		font-size: 1.5rem;
	}


}

.reg_input_single {
	display: inline-block;
	width:98%;
	margin:1%;
	color:#f76300;
	font-size: 2.5rem;
}
@media (min-width: 900px) { 
	.reg_input_single {
		display: inline-block;
		width:100%;
		margin:1%;
		color:#f76300;
		font-size: 1.5rem;
	}
}
.error_message {
	color: #fff;
	background:#ee0000;
	margin:1%;
	text-align: center;
	font-size: 2rem;
	line-height: 3rem;
	display: none;
	padding: .5rem 0;
}

#promo_off {
	display:none;
}



input[type="checkbox"] {
    position:absolute;
    left:-100000px;
    
}
input[type="checkbox"] + label .checkbox  {
	float:left;
    width:5rem;
    height:5rem;
    margin:0rem 1.5rem 8rem 1.5rem;
    vertical-align:middle;
    background:url(../images/checkbox.png) left top no-repeat;
    background-size: auto 100%;
    cursor:pointer;
    display: block;
}
input[type="checkbox"]:checked + label .checkbox  {
    background:url(../images/checkbox.png) -5rem top no-repeat;
    background-size: auto 100%;
}

@media (min-width: 900px) { 

	input[type="checkbox"] + label .checkbox {
	    float:left;
	    width:2.4rem;
	    height:2.4rem;
	    margin:.5rem 1rem 5rem .5rem;
	    vertical-align:middle;
	    background:url(../images/checkbox.png) .03rem 0rem no-repeat;
	    background-size: auto 100%;
	    cursor:pointer;
	    display: block;
	}
	input[type="checkbox"]:checked + label .checkbox  {
	    background:url(../images/checkbox.png) -2.43rem 0rem no-repeat;
	    background-size: auto 100%;
	}

	input[type="checkbox"] .checkbox  {
	    margin-bottom: 2rem;
	}
}

.newsletter {
	margin:0rem 1.5rem 30rem 1.5rem !important;
}
@media (min-width: 900px) { 
	.newsletter {
		margin:.5rem 1rem 13rem .5rem !important;
	}
}
.optin label {
	color: #afafaf;
	font-size: 2.5rem;
	line-height: 4rem;
	width:100%;
	margin: 0;
}

@media (min-width: 900px) { 
	.optin label {
		color: #afafaf;
		font-size: 1.5rem;
		line-height: 2.3rem;
		width:100%;
		margin: 0;
	}
}

.hidden_label {
	display: block;
	position: absolute;
	left:-10000px;
}

.label_txt {
	padding: .4rem 0;
}

.optin a:link {
	border: none;
	color: #afafaf;
	text-decoration: underline;
}

.optin a:visited {
	border: none;
	color: #afafaf;
	text-decoration: underline;
}

.optin a:active {
	border: none;
	color: #afafaf;
	text-decoration: underline;
}

.optin a:hover {
	border: none;
	color: #fff;
	text-decoration: none;
}


.logged_in {
	text-align: center;
}

.logged_in label{
	margin-right: 0 !important;
} 

@media (min-width: 900px) { 
	.login_btn {
		width:23rem;
	}
	.logged_in {
		text-align: right;
	}

	.logged_in label{
		margin-right: 0 !important;
	} 
}




.txt_link {
	display: inline;
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

.user_code {
	font-family: 'montserratsemi_bold';
	text-align: center;
	background-color: #FFF;
	color:#000;
	font-size: 7rem;
	line-height: 14rem;
	margin: 3rem auto;
	width:85%;
}
@media (min-width: 900px) { 
	.user_code {
		font-family: 'montserratsemi_bold';
		text-align: center;
		background-color: #FFF;
		color:#000;
		font-size: 5rem;
		line-height: 10rem;
		margin: 1rem auto 3rem auto;
		width:30%;
	}
}
.congrats_title {
	color:#f76300;
	font-family: 'montserratregular', sans-serif;
	font-size: 4.7rem;
	line-height: 4.8rem;
	text-align: center;
	margin: 3rem auto;	
}
@media (min-width: 900px) { 
	.congrats_title {
		color:#f76300;
		font-family: 'montserratregular', sans-serif;
		font-size: 4.7rem;
		line-height: 5rem;
		text-align: center;
		margin: 5rem auto 2rem auto;	
	}
}

.submitted_code_title {
	color:#fff;
	font-size: 3.2rem;
	line-height: 3.6rem;
	text-align: center;
	margin: 3rem auto .5rem auto;
	padding: 2rem 0;
	width:90%;
	font-family: 'montserratregular';
}
@media (min-width: 900px) { 
	.submitted_code_title {
		color:#fff;
		font-size: 3.2rem;
		line-height: 3.6rem;
		text-align: center;
		margin: 3rem auto .5rem auto;
		padding: 3rem 0 1rem 0;
		width:90%;
		font-family: 'montserratregular';
	}
}

.forgot_pass {
	text-align: center;
}
@media (min-width: 900px) { 
	
	.forgot_pass {
		text-align: left;
	}
}

#rules_legal {
}

.list {
	margin: 0 auto;
	width:90%;
	color: #afafaf;	
	font-size: 3rem;
}

@media (min-width: 900px) { 
	.list {
		margin: 0 auto;
		width:70%;
		color: #afafaf;	
		font-size: 2rem;
	}
}


.list strong {
	font-family: "montserratregular"
}

.list ol {
	color: #f76300;	
	-webkit-padding-start: 4rem;
	margin-bottom: 5rem;
}
@media (min-width: 900px) { 
	.list ol {
		color: #f76300;	
		-webkit-padding-start: 5rem;
	}
}

.list li {
	margin-bottom: 1.5rem;
}

.list li span {
	color: #afafaf;	
	margin-bottom: 1.5rem;
}

.center_txt {
	text-align: center;
}

.list p {
	display: block;
	-webkit-margin-before: 1.5em;
	-webkit-margin-after: 1.5em;
}
.coutry_list {
	color: #afafaf;	
}

.alpha_list {
	color: #afafaf !important;	
	list-style-type: lower-alpha;
}

#footer {
	float: left;
	width: 100%;
}
#legal_nav {
	float: left;
	width: 100%;
	text-align: center;
	background-color: #1b1c1e;	
}
#register_off {
	display:none;
}
select::-ms-expand {
    display: none;
}

#processing {
	position: absolute;
	z-index: 10000;
	background-color:rgba(0,0,0,.7);
	width:100%;
	height:100%;
	display: none;
}

#processing_holder{
	background-color:#000;
	width:70%;
	margin:50% 15%;
	padding:35% 0 5% 0;
	text-align: center;
	background-image: url(/images/processing.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	border: .1rem solid #afafaf;
}

@media (min-width: 900px) { 
	
	#processing_holder{
		background-color:#000;
		width:30%;
		margin:22% 35%;
		padding:17% 0 2% 0;
		text-align: center;
		background-image: url(/images/processing.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;
		border: .1rem solid #afafaf;
	}
}
#processing_message {
	color:#afafaf;
	font-size: 3rem;
	font-family: 'montserratregular';
}
@media (min-width: 900px) { 
	
	#processing_message {
		color:#afafaf;
		font-size: 2rem;
		font-family: 'montserratregular';
	}
}